@font-face {
    font-family: "Want Coffee";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("Want Coffee") url(./font/Koffee/Want\ Coffee.ttf) format("truetype");
  }

@tailwind base;
@tailwind components;
@tailwind utilities;