<template>
    <div>
        <div class="pt-1 pb-3">
            <p class="pl-2 font-bold">{{ transaction.description }}</p>
        </div>
        <div class="flex flex-row justify-between py-2 mb-2">
            <div v-if="nativeTransfersIn" class="flex flex-col">
                <div>
                    <p class="px-2 text-green-500 font-bold">{{ type }}</p>
                    <p v-if="unknowType" class="pl-2">{{ suspectedType }}</p>
                </div>
                <p v-if="nativeTransfersIn">+{{ nativeBalanceChange }} Sol</p>
            </div>
            <div v-else class="flex flex-col">
                <div>
                    <p class="px-2 font-bold" :class="nativeTransfersOut ? 'text-red-500' : 'text-black'">{{
                        type
                    }}</p>
                    <p v-if="unknowType" class="pl-2">{{ suspectedType }}</p>
                </div>
                <p v-if="nativeTransfersOut">-{{ nativeBalanceChange }} Sol</p>
            </div>
            <div>
                <p>Source :</p>
                <p class="font-bold">{{ transaction.source }}</p>
            </div>
            <div class="flex flex-row">
                <p>from wallet : </p>
                <p class="font-bold pl-2">{{ transaction.wallet }}</p>
            </div>
            <p class="pr-2">{{ dateTime(transaction.timestamp) }}</p>
        </div>
    </div>
</template>

<script>

//import { wallet } from "@/store/wallet.module";
import moment from "moment";
import { computed, ref } from 'vue';

export default {

    props: {
        transaction: {}
    },

    methods: {
        dateTime(date) {
            let dateTx = moment.unix(date);
            return moment(dateTx).format("DD-MM-YYYY")
        }
    },

    setup(props) {

        const LAMPORT = 1000000000;

        let nativeTransfersIn = false;
        let nativeTransfersOut = false;
        let nativeBalanceChange = 0;
        let amountTransfer = 0;
        let unknowType = false;
        let suspectedType = "";
        let type = "";
        let accountData = ref([]);
        let nativeTransfers = ref([]);

        if(process.env.VUE_APP_IF_PROD === 'true') {
            accountData = computed(() => JSON.parse(props?.transaction.accountData));
            nativeTransfers = computed(() => JSON.parse(props?.transaction.nativeTransfers));
        } else {
            accountData = computed(() => props?.transaction.accountData);
            nativeTransfers = computed(() => props?.transaction.nativeTransfers);
        }

        if (accountData?.value.length != 0) {
            accountData?.value.forEach(transfer => {
                if (transfer.account === props?.transaction.wallet) {
                    if (transfer.nativeBalanceChange < 0) {
                        nativeBalanceChange = transfer.nativeBalanceChange / LAMPORT;
                        nativeTransfersOut = true;
                    } else {
                        nativeBalanceChange = transfer.nativeBalanceChange / LAMPORT;
                        nativeTransfersIn = true;
                    }
                }
            })
        }
        if(props?.transaction.type === 'TRANSFER') type = "Transfer of token";
        if(props?.transaction.type === 'NFT_LISTING') type = "Listing of an NFT";
        if(props?.transaction.type === 'SWAP') type = "Swap";
        if(props?.transaction.type === 'STAKE_TOKEN') type = "Staking de Token";
        if(props?.transaction.type === 'UNSTAKE_TOKEN') type = "Unstaking de Token";
        if(props?.transaction.type === 'NFT_MINT') type = "Mint of NFT";
        if(props?.transaction.type === 'BUY_TICKETS') type = "Buy Tickets";

        if (props?.transaction.type === 'NFT_SALE') {
            type = "Sale of NFT"
            nativeTransfers?.value.forEach(transfer => {
                if (transfer.toUserAccount === props?.transaction.wallet) {
                    amountTransfer = transfer.amount / LAMPORT;
                }
            })
        }
        if (props?.transaction.type === "NFT_CANCEL_LISTING") {
            type = "Cancellation of a nft listing"
            nativeTransfersIn = false;
            nativeTransfersOut = true;
        }


        if (props?.transaction.type === 'UNKNOWN') {
            type = "Unknown Source"
            if (nativeTransfers?.value.length != 0) {
                nativeTransfers?.value.forEach(transfer => {
                    if (transfer.toUserAccount === props?.toUserAccount) {
                        nativeTransfersIn = true;
                        nativeBalanceChange = transfer.amount / LAMPORT
                    }
                    if (transfer.fromUserAccount === props?.transaction.wallet) {
                        nativeTransfersIn = false;
                        nativeTransfersOut = true;
                        nativeBalanceChange = "- " + transfer.amount / LAMPORT;
                        unknowType = true;
                        suspectedType = "Token Transfer";
                    }

                })
            }
            if (nativeTransfers?.value.length === 0) {
                accountData?.value.forEach((transfer) => {
                    if (transfer.account === props?.transaction.wallet) {
                        nativeTransfersOut = true
                    }
                })
                unknowType = true;
                suspectedType = "Payement fees";
            }
        }

        return {
            nativeTransfersIn,
            nativeTransfersOut,
            amountTransfer,
            unknowType,
            suspectedType,
            nativeBalanceChange,
            type
        }
    }
}
</script>