<template>
    <Suspense>
        <div class="max-h-screen flex flex-row text-gray-900 bg-gray-100 dark:bg-dark-bg dark:text-gray-100">

            <side-bar></side-bar>

            <router-view :key="$route.fullPath"></router-view>
        </div>
    </Suspense>
</template>

<script>

import { useStore } from 'vuex';
import SideBar from '@/partials/SideBar.vue';

export default {

    components: {
        SideBar,
    },

    setup() {
        const store = useStore();

        store.dispatch("utils/fetchSolMetaData");

        setInterval(() => {
            store.dispatch("utils/fetchSolMetaData");
        }, 100000)
    }

}

</script>