<template>

    <div class="mt-4">
        <p class="text-center text-2xl">Add a wallet at your DAO ! </p>

    </div>

    <div class="pt-16 container mx-auto">
        <div class="block mx-24">
            <form class="wallet-form" @submit.prevent="onSubmit">

                <div>
                    <label for="name">
                        <input id="nameWallet" v-model="walletName" type="text"
                            class="placeholder:italic placeholder:text-slate-400 block bg-white min-w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                            placeholder="Enter the name for your wallet...">
                    </label>
                </div>

                <div class="pt-4">
                    <label class="relative block">
                        <input id="walletAddress" v-model="walletAddress"
                            class="placeholder:italic placeholder:text-slate-400 block bg-white min-w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                            placeholder="Enter wallet address...">
                    </label>
                </div>

                <div class="pt-6">
                    <input class="bg-blue-900 px-4 py-2 text-gray-100 rounded-lg" type="submit"
                        value="Add your wallet...">
                </div>

            </form>
        </div>

    </div>

</template>

<script>

export default {

    data() {
        return {
            walletAddress: '',
            walletName: ''
        }
    },
    methods: {
        onSubmit() {
            let wallet = {
                walletAddress: this.walletAddress,
                walletName: this.walletName
            }

            this.$store.dispatch("wallet/createWallet", wallet);

            this.$router.push({ name: "mywallets" });

            this.walletAddress = ''
        }
    }
}

</script>