<template>
    <div class="mt-12 mx-auto">
        <div class=" flex py-2">
            <h1 class="text-2xl pl-2">All your transactions sorted by category for all your wallets </h1>
        </div>
        <div class="flex flex-row justify-end pr-2">
            <Button class="" color="blue" outline @click="openModal">Create your document !</Button>

            <div v-if="pdfs?.length >= 1" class="flex flex-row mr-2 items-center">
                <p class="mx-2 text-2xl">or</p>
                <select class="bg-blue-50 border border-blue-300 rounded-lg" id="pdfCheck" v-on:change="downloadPdf">
                    <option>Select here</option>
                    <option v-for="pdf in pdfs" :key="pdf" :value="pdf.url"> {{ pdf.name }}</option>
                </select>
            </div>
        </div>

        <div v-if="showButton">
            <div class="flex flex-row">
                <div class="pr-2">
                    <Button color="blue" outline @click="openInNewTab">Download</Button>
                </div>
                <div>
                    <Button color="red" outline @click="deletePdf">Delete</Button>
                </div>
            </div>
        </div>

        <div v-if="isDeleted" class="pt-4">
            <div class="flex p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
                role="alert">
                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Success alert! Your pdf is deleted !!</span>
                </div>
            </div>
        </div>

        <div v-for="categorie in categories" :key="categorie" class="pt-6">
            <categorie-data :categorie="categorie"></categorie-data>
        </div>

        <!-- MODAL ADD PDF-->
        <div>
            <Modal v-if="isShowModal" @close="closeModal" size="xl" @cat="catId = $event">
                <template #header>
                    <div>
                        <p class="text-center text-3xl">Give a name at your document : </p>

                    </div>
                </template>

                <template #body>
                    <Form @submit="createPdf" :validation-schema="pdf" name="pdfName">
                        <Field name="name" type="text" :value="pdfName"
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                        <ErrorMessage name="name" class="error-feedback pt-2" />

                        <div class="flex justify-center mt-4">
                            <div class="">
                                <Button color="red" outline type="submit">Create your document !</Button>
                            </div>
                        </div>
                    </Form>
                </template>
            </Modal>
        </div>

        <!-- MODAL ADD PROFIL PICTURES-->
        <div>
            <Modal v-if="isShowModalPicture" @close="closeModalProfil" size="xl" @cat="catId = $event">
                <template #header>
                    <div>
                        <p class="text-center text-3xl">You must add a profil pictures for creating document !</p>

                    </div>
                </template>

                <template #body>
                    <div>
                        <p>Go to your setting for adding one : </p>
                        <div class="pt-4">
                            <router-link to="/settings" class="font-bold text-2xl" @click="closeModalProfil">
                                settings
                            </router-link>
                        </div>

                    </div>
                </template>
            </Modal>
        </div>
    </div>

</template>

<script>
import { computed, ref, watch } from 'vue';
import { useStore } from 'vuex';
import CategorieData from './CategorieData.vue';
import { Button } from 'flowbite-vue';
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import { Modal } from 'flowbite-vue';

export default {
    components: {
        CategorieData,
        Button,
        Form,
        Field,
        ErrorMessage,
        Modal
    },

    data() {
        const pdf = yup.object().shape({
            name: yup
                .string()
                .required("Dao name is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!")
        });

        return {
            pdf
        };
    },

    setup() {
        const store = useStore();
        let categories = ref({});
        let pdfs = ref();

        const isShowModal = ref(false);
        const isShowModalPicture = ref(false);
        const showButton = ref(false);
        const isDeleted = ref(false);

        const dao = computed(() => store.state.dao.dao);

        console.log(dao.value)

        let pdfName = ref('');
        let pdfToDelete = ref('');

        const BASE_URL = process.env.VUE_APP_BASE_URL_PDF;
        let urlToDownload = ref('');

        store.dispatch("categories/getCategories");

        categories = computed(() => store.state.categories.categories);

        pdfs = computed(() => store.getters["dao/dao"].daoPdf);

        watch((isDeleted), async () => {
            if (isDeleted.value) {
                setTimeout(() => {
                    console.log(isDeleted);
                    isDeleted.value = false
                }, 20000)
            }
        })

        function closeModal() {
            isShowModal.value = false;
        }

        function openModal() {
            if (dao.value.url === undefined) {
                isShowModalPicture.value = true
            } else {
                isShowModal.value = true;
            }
        }

        function closeModalProfil() {
            isShowModalPicture.value = false;
        }

        async function createPdf(pdfName) {
            isShowModal.value = false;
            await store.dispatch("dao/createPdf", pdfName);
        }

        function downloadPdf(event) {
            pdfToDelete = computed(() => event.target.value);
            urlToDownload = computed(() => `${BASE_URL}/${event.target.value}`.toString());
            showButton.value = true;
        }

        async function deletePdf() {
            const res = await store.dispatch("dao/deletePdf", pdfToDelete);
            if (res) {
                isDeleted.value = true
            }
            showButton.value = false;
        }

        function openInNewTab() {
            window.open(urlToDownload.value, '_blank', 'noreferrer');
            showButton.value = false;
        }

        return {
            categories,
            closeModal,
            pdfName,
            createPdf,
            openModal,
            isShowModal,
            pdfs,
            downloadPdf,
            urlToDownload,
            showButton,
            openInNewTab,
            deletePdf,
            isDeleted,
            isShowModalPicture,
            closeModalProfil
        }
    }
}
</script>