<template>
    <div>
        <div class="w-full">
            <the-navbar />
        </div>
    </div>
    <the-banner></the-banner>

    <div class="pt-24">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
            <div class="flex flex-col items-center justify-center">
                <div class="">
                    <h1 class="font-semibold text-5xl">
                                The story of your DAO starts here.
                            </h1>
                            <p class="mt-6 text-3xl text-gray-600">
                                Manage your DAO transactions and give confidence to your community.
                            </p>
                        </div>

                        <div class="flex justify-center mt-10 mx-auto">
                            <wallet-multi-button class="bg-gray-900 hover:bg-gray-600"></wallet-multi-button>
                        </div>
                </div>
        </div>
        <!--Right Col-->
        <div class="w-full md:w-3/5 py-6 text-center">
          <img class="w-full md:w-4/5 z-50" src="images/hero.png" />
        </div>
      </div>
    </div>
    <div class="relative -mt-12 lg:-mt-24">
        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 290" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgba(17, 24, 39, 1)" offset="0%"></stop>
                    <stop stop-color="rgba(237.203, 235.514, 231.779, 1)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                d="M0,116L60,130.5C120,145,240,174,360,159.5C480,145,600,87,720,91.8C840,97,960,164,1080,193.3C1200,222,1320,213,1440,212.7C1560,213,1680,222,1800,212.7C1920,203,2040,174,2160,135.3C2280,97,2400,48,2520,29C2640,10,2760,19,2880,43.5C3000,68,3120,106,3240,145C3360,184,3480,222,3600,207.8C3720,193,3840,126,3960,125.7C4080,126,4200,193,4320,227.2C4440,261,4560,261,4680,236.8C4800,213,4920,164,5040,149.8C5160,135,5280,155,5400,145C5520,135,5640,97,5760,67.7C5880,39,6000,19,6120,29C6240,39,6360,77,6480,87C6600,97,6720,77,6840,62.8C6960,48,7080,39,7200,67.7C7320,97,7440,164,7560,164.3C7680,164,7800,97,7920,77.3C8040,58,8160,87,8280,120.8C8400,155,8520,193,8580,212.7L8640,232L8640,290L8580,290C8520,290,8400,290,8280,290C8160,290,8040,290,7920,290C7800,290,7680,290,7560,290C7440,290,7320,290,7200,290C7080,290,6960,290,6840,290C6720,290,6600,290,6480,290C6360,290,6240,290,6120,290C6000,290,5880,290,5760,290C5640,290,5520,290,5400,290C5280,290,5160,290,5040,290C4920,290,4800,290,4680,290C4560,290,4440,290,4320,290C4200,290,4080,290,3960,290C3840,290,3720,290,3600,290C3480,290,3360,290,3240,290C3120,290,3000,290,2880,290C2760,290,2640,290,2520,290C2400,290,2280,290,2160,290C2040,290,1920,290,1800,290C1680,290,1560,290,1440,290C1320,290,1200,290,1080,290C960,290,840,290,720,290C600,290,480,290,360,290C240,290,120,290,60,290L0,290Z">
            </path>
            <defs>
                <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgba(125.641, 121.855, 120.639, 1)" offset="0%"></stop>
                    <stop stop-color="rgba(166.623, 163.678, 157.167, 1)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)"
                d="M0,29L60,67.7C120,106,240,184,360,217.5C480,251,600,242,720,212.7C840,184,960,135,1080,96.7C1200,58,1320,29,1440,29C1560,29,1680,58,1800,58C1920,58,2040,29,2160,43.5C2280,58,2400,116,2520,135.3C2640,155,2760,135,2880,130.5C3000,126,3120,135,3240,149.8C3360,164,3480,184,3600,159.5C3720,135,3840,68,3960,48.3C4080,29,4200,58,4320,67.7C4440,77,4560,68,4680,62.8C4800,58,4920,58,5040,48.3C5160,39,5280,19,5400,24.2C5520,29,5640,58,5760,91.8C5880,126,6000,164,6120,164.3C6240,164,6360,126,6480,106.3C6600,87,6720,87,6840,101.5C6960,116,7080,145,7200,154.7C7320,164,7440,155,7560,140.2C7680,126,7800,106,7920,120.8C8040,135,8160,184,8280,207.8C8400,232,8520,232,8580,232L8640,232L8640,290L8580,290C8520,290,8400,290,8280,290C8160,290,8040,290,7920,290C7800,290,7680,290,7560,290C7440,290,7320,290,7200,290C7080,290,6960,290,6840,290C6720,290,6600,290,6480,290C6360,290,6240,290,6120,290C6000,290,5880,290,5760,290C5640,290,5520,290,5400,290C5280,290,5160,290,5040,290C4920,290,4800,290,4680,290C4560,290,4440,290,4320,290C4200,290,4080,290,3960,290C3840,290,3720,290,3600,290C3480,290,3360,290,3240,290C3120,290,3000,290,2880,290C2760,290,2640,290,2520,290C2400,290,2280,290,2160,290C2040,290,1920,290,1800,290C1680,290,1560,290,1440,290C1320,290,1200,290,1080,290C960,290,840,290,720,290C600,290,480,290,360,290C240,290,120,290,60,290L0,290Z">
            </path>
        </svg>
    </div>
</template>

<script>

import TheNavbar from '@/components/TheNavbar.vue';
import TheBanner from '@/components/TheBanner.vue';
import { ref, computed, watch } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { WalletMultiButton, useWallet } from 'solana-wallets-vue';
import { sign } from 'tweetnacl';

export default {
    components: {
        WalletMultiButton,
        TheNavbar,
        TheBanner
    },
    setup() {
        const router = useRouter();
        const store = useStore();

        const showMenu = ref(false);
        const toggleNav = () => (showMenu.value = !showMenu.value);
        const { publicKey, signMessage } = useWallet();

        const connectedWallet = computed(() => {
            const { connected } = useWallet();
            if (connected && connected.value) return true;
            return false;
        });

        watch((connectedWallet), async () => {
            if (connectedWallet.value) {
                try {
                    const message = new TextEncoder().encode('Yes, it\'s me !! ');
                    // Sign the bytes using the wallet
                    const signature = await signMessage.value(message);
                    // Check if signature is valid
                    if (!sign.detached.verify(message, signature, publicKey.value.toBytes())) {
                        throw new Error('Invalid signature!');
                    } else {
                        console.log("success");
                        if (!store.state.auth.user) {
                            const user = await store.dispatch("auth/login", publicKey.value?.toBase58());
                            if (!user) {
                                router.push('/register');
                            } else {
                                user.roles.forEach(role => {
                                    if (role === "ROLE_ADMIN") { router.push("/admin-dashboard") }
                                    if (role === "ROLE_DAOOWNER") { router.push("/daoowner") }
                                    if (role === "ROLE_USER") { router.push("/user") }
                                })
                            }
                        } else {
                            store.state.auth.user.roles.forEach(role => {
                                if (role === "ROLE_ADMIN") { router.push("/admin-dashboard") }
                                if (role === "ROLE_DAOOWNER") { router.push("/daoowner") }
                                if (role === "ROLE_USER") { router.push("/user") }
                            });
                        }
                    }
                } catch (err) {
                    console.log('error', `Sign Message failed! ${err?.message}`);
                }

            } else {
                store.dispatch('auth/logout');
                store.dispatch("wallet/resetWallet");
                router.push('/');
            }
        })

        return {
            showMenu,
            toggleNav,
            connectedWallet
        };
    },
}

</script>