<template>
    <div class="container mx-auto rounded-lg">
        <div class="py-2">
            <p class="pl-2 font-bold">{{ transaction.description }}</p>
        </div>
        <div class="flex flex-row justify-between py-4 mb-2">
            <div class="flex">
                <div v-if="nativeTransfersIn" class="flex">
                    <div>
                        <p class="px-2 text-green-500 font-bold text-left">{{ type }}</p>
                        <p v-if="unknowType" class="pl-2 text-left">{{ suspectedType }}</p>
                        <p v-if="tokenAmountTransfered != 0" class="pl-1">Unknow Token transfered : +<span class="pl-1">{{ tokenAmountTransfered }}</span></p>
                    </div>
                    <p v-if="nativeTransfersIn">+{{ nativeBalanceChange }} Sol</p>
                </div>
                <div v-else class="flex">
                    <div>
                        <p class="px-2 font-bold text-left text-red-500" >{{
                        type
                        }}</p>
                        <p v-if="unknowType" class="pl-2">{{ suspectedType }}</p>
                        <p v-if="tokenAmountTransfered != 0" class="pl-1">Unknow Token transfered : -<span class="pl-1">{{ tokenAmountTransfered }}</span></p>
                    </div>
                    <p v-if="nativeTransfersOut">-{{ nativeBalanceChange }} Sol</p>
                </div>

            </div>

            <p>Source : {{ transaction.source }}</p>
            <p class="pr-2">{{ dateTime(transaction.timestamp) }}</p>
        </div>
        <div class="flex justify-end pr-2">
            <a :href="'https://solscan.io/tx/' + signature" target="_blank" class="text-blue-500">Check the transactions on Solscan</a>
        </div>
    </div>
</template>

<script>

import moment from "moment";
import { ref } from "vue";

export default {

    props: {
        transaction: {},
        address: String
    },

    methods: {
        dateTime(date) {
            let dateTx = moment.unix(date);
            return moment(dateTx).format("DD-MM-YYYY")
        },
        
    },

    setup(props) {

        const LAMPORT = 1000000000;

        let nativeTransfersIn = false;
        let nativeTransfersOut = false;
        let nativeBalanceChange = 0;
        let amountTransfer = 0;
        let tokenAmountTransfered = 0;
        let unknowType = false;
        let suspectedType = "";
        let signature = ref(props.transaction.transactionId);
        let lastTokenTransfers = ref(props.transaction.tokenTransfers[props.transaction.tokenTransfers.length -1]);
        let type = "";

        //console.log(props.transaction);
        //console.log(props.transaction.accountData);

        if (props.transaction.accountData.length != 0) {
            props.transaction.accountData.forEach(transfer => {
                if (transfer.account === props.address) {
                    if (transfer.nativeBalanceChange < 0) {
                        nativeBalanceChange = transfer.nativeBalanceChange / LAMPORT;
                        nativeTransfersOut = true;
                    } else {
                        nativeBalanceChange = transfer.nativeBalanceChange / LAMPORT;
                        nativeTransfersIn = true;
                    }
                }
            })
        }
        
        if(props.transaction.type === 'TRANSFER') type = "Transfer of token";
        if(props.transaction.type === 'NFT_LISTING') type = "Listing of an NFT";
        if(props.transaction.type === 'SWAP') type = "Swap";
        if(props.transaction.type === 'STAKE_TOKEN') type = "Staking de Token";
        if(props.transaction.type === 'UNSTAKE_TOKEN') type = "Unstaking de Token";
        if(props.transaction.type === 'NFT_MINT') type = "Mint of NFT";
        if(props.transaction.type === 'BUY_TICKETS') type = "Buy Tickets";
        if(props.transaction.type === 'NFT_BID') type = "Bid on Auction";

        if (props.transaction.type === 'NFT_SALE') {
            type = "Sale of NFT"
            props.transaction.nativeTransfers.forEach(transfer => {
                if (transfer.toUserAccount === props.address) {
                    amountTransfer = transfer.amount / LAMPORT;
                }
            })
        }

        if (props.transaction.type === "NFT_CANCEL_LISTING") {
            type = "Cancellation of a nft listing"
            nativeTransfersIn = false;
            nativeTransfersOut = true;
        }

        if (props.transaction.type === 'UNKNOWN') {
            type = "Unknown Source"
            if (props.transaction.nativeTransfers.length != 0) {
                if (props.transaction.nativeTransfers[0].toUserAccount === props.address) {
                    nativeTransfersIn = true;
                    nativeBalanceChange = props.transaction.nativeTransfers[0].amount / LAMPORT;
                    unknowType = true;
                    suspectedType = "Native Token Transfer";
                }
                if (props.transaction.nativeTransfers[0].fromUserAccount === props.address) {
                    nativeTransfersIn = false;
                    nativeTransfersOut = true;
                    nativeBalanceChange = "- " + props.transaction.nativeTransfers[0].amount / LAMPORT;
                    unknowType = true;
                    suspectedType = "Native Token Transfer";
                }
            }
            if (props.transaction.nativeTransfers.length === 0) {
                if (props.transaction.tokenTransfers.length === 0) {
                    unknowType = true;
                    suspectedType = "Unknow type";
                } else {
                    if(lastTokenTransfers.value.toUserAccount === props.address) {
                        tokenAmountTransfered = lastTokenTransfers.value.tokenAmount;
                        nativeTransfersOut = false;
                        nativeTransfersIn = true;
                    }
                    if(lastTokenTransfers.value.fromUserAccount === props.address) {
                        tokenAmountTransfered = lastTokenTransfers.value.tokenAmount;
                        nativeTransfersIn = false;
                        nativeTransfersOut = true;
                    }
                    
                }
            }
        }

        return {
            nativeTransfersIn,
            nativeTransfersOut,
            amountTransfer,
            unknowType,
            suspectedType,
            nativeBalanceChange,
            tokenAmountTransfered,
            signature,
            type
        }
    }
}

</script>