<template>
    <div class="flex flex-col mx-auto">
        <div class="flex pt-10">
            <p class="text-blue-600 text-lg -pl-8 cursor-pointer" @click="back()">Return to my wallet</p>
        </div>
        <div class="flex flex-row justify-center items-center pt-10">
            <div class="pb-6">
                <h2 class="text-2xl">You look at the transaction history for :</h2>
                <div class="py-10">
                    <p class="font-bold">{{ walletAddress }}</p>
                </div>
            </div>
        </div>
        <div class="pb-2">
            <p class="text-gray-500">There are only the 50 last transactions for the moment. We working for implement the others.</p>
        </div>

        <!-- MODAL-->
        <div>
            <Modal v-if="selectedTx" @close="closeModal" size="xl" @cat="catId = $event">
                <template #header>
                    <div class="flex flex-col justify-center">
                        <p class="text-xl text-left">Select your categorie</p>
                        <p class="text-gray-400">Select only one categorie at once !</p>
                    </div>
                </template>
                <template #body>
                    <div class="py-4 px-6 text-center">
                        <div v-if="categories.length >= 1">
                            <div v-for="(categorie) in categories" :key="categorie">
                                <div class="flex justify-center py-2">
                                    <input id="checkbox" type="checkbox" value="categorie.id"
                                        @click="catId = categorie.id"
                                        class="mr-3 mt-0.5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label class="text-xl font-bold">{{ categorie.name }}</label>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="flex flex-col justify-center">
                                <p class="text-center text-xl">You have not created any categories yet.</p>
                                <p class="text-center text-xl py-1">Go to your dashboard to create a category and come back to add your transactions.</p>
                                <div class="pt-6">
                                    <Button color="blue" outline>
                                        <router-link to="/daoowner">Dashboard</router-link>
                                    </Button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </template>

                <template #footer>
                    <div class="flex justify-between">
                        <button @click="closeModal" type="button"
                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                            Cancel
                        </button>
                        <button
                            class="px-6 py-2 text-sm font-medium text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:bg-blue-400 focus:outline-none"
                            @click="addTx()">
                            OK
                        </button>
                    </div>
                </template>
            </Modal>
        </div>


        <div v-if="transactions.length != 0" class="mx-auto">
            <div v-for="tx in transactions" :key="tx" class="mx-auto">
                <div class="mb-2 border border-gray-600 rounded-lg bg-white pt-2 pb-4 mx-4 hover:bg-sky-300">
                    <div class="flex justify-end pr-2">
                        <span
                            class="flex flex-row items-center justify-center px-2 rounded-lg text-lg bg-blue-800 text-white cursor-pointer"
                            @click="selectedTx = tx">
                            <p>Add transactions to a categorie</p>
                            <i class='bx bx-plus'></i>
                        </span>
                    </div>
                    <transaction-data :transaction="tx" :address="walletAddress"></transaction-data>
                </div>

            </div>
        </div>

        <div v-else>
            <h3>Please waiting...</h3>

            <div class="py-20">
                <rise-loader :loading="loading" :color="color" :size="size"></rise-loader>
            </div>
        </div>
    </div>
</template>

<script>

import { ref } from 'vue';
import TransactionData from './TransactionData.vue';
import { Modal } from 'flowbite-vue';
import RiseLoader from "vue-spinner/src/RiseLoader.vue";
import { Button } from 'flowbite-vue';

export default {

    components: {
        TransactionData,
        RiseLoader,
        Modal,
        Button
    },

    data() {
        return {
            loading: true,
            color: "#04027a",
            size: "20px",
            selectedTx: null,
            catId: 0,
            walletAddress: '',
            data: {}
        }
    },

    methods: {
        async addTx() {
            console.log("Id cat : ", this.catId);
            this.data = {
                tx: { ...this.selectedTx },
                catId: this.catId,
                wallet: this.$route.params.address
            }
            this.selectedTx = null;
            await this.$store.dispatch("categories/addTxToCategories", { ...this.data });
        },
        back() {
            this.$router.back();
        },
        closeModal() {
            this.selectedTx = null;
        }
    },
    mounted() {
        this.walletAddress = this.$route.params.address
        this.$store.dispatch("tx/fetchTransactionsData", this.walletAddress);
    },
    computed: {
        transactions() {
            return this.$store.state.tx.transactionsData;
        },
        categories() {
            return this.$store.state.categories.categories;
        }
    },

    setup() {

        const isShowModal = ref(false);

        function showModal() {
            isShowModal.value = true
        }

        return {
            showModal,
            isShowModal,
        }
    }
}

</script>
