<template>
    <component :is="tag" class="file-preview">
        <button @click="$emit('remove', file)" class="text-xl" aria-label="Remove">X</button>
        <img class="w-1/3 h-1/3" :src="file.url" :alt="file.file.name" :title="file.file.name" />
    </component>
</template>

<script setup>
defineProps({
    file: { type: Object, required: true },
    tag: { type: String, default: 'li' },
})
defineEmits(['remove'])
</script>