<template>
  <div class="mt-10 pt-10">
    <div class="flex justify-end pr-4">
      <button @click="showForm"
        class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">Update
        your profile</button>
    </div>
    <div class="flex flex-row justify-evenly pb-10">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />

      <div class="text-left text-xl flex flex-col justify-evenly">
        <p>
          <strong>Name:</strong>
          {{currentUser.name}}
        </p>
        <p>
          <strong>Email:</strong>
          {{currentUser.email}}
        </p>
        <div>
          <strong>Roles:</strong>
          <ul>
            <li v-for="role in currentUser.roles" :key="role">{{role}}</li>
          </ul>
        </div>

      </div>
    </div>

    <div v-show="ifForm">
      <div class="pb-6 bg-white mx-10">
        <Form @submit="updateUser" :validation-schema="schema" class="px-8 pt-6 pb-8 mb-4 rounded">
            <div v-if="!successful">
              <div class="grid grid-cols-2 gap-4">
                <DropZone class="drop-area h-full w-full border border-gray-600 rounded-lg" @files-dropped="addFiles"
                  #default="{ dropZoneActive }">
                  <label for="fileInput">
                    <div class="h-full w-full flex justify-center" v-if="dropZoneActive">
                      <span class="h-full w-full">Drop Them</span>
                      <span class="smaller">to add them</span>
                    </div>
                    <div class="h-full w-full flex flex-col justify-center px-6" v-else>
                      <div v-if="files.length != 0">
                        <ul class="py-4" v-show="files.length">
                          <FilePreview v-for="file of files" :key="file.id" :file="file" tag="li"
                            @remove="removeFile" />
                        </ul>
                      </div>
                      <div v-else class="flex flex-col justify-center">
                        <span>Drag Your Files Here</span>
                        <span class="smaller">
                          or <strong><em>click here</em></strong> to select files
                        </span>
                       
                      </div>
                    </div>
                  </label>
                  <Field name="fileInput" class="pt-4 text-center" type="file" id="fileInput" multiple
                          @change="onInputChange" />
                </DropZone>
                
                <div>
                  <div class="mb-4 md:mr-2 md:mb-0">
                    <label class="block mb-2 text-sm font-bold text-gray-700" for="name">Name</label>
                    <Field name="name" type="text" :value="currentUser.name"
                      class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <ErrorMessage name="name" class="error-feedback pt-2" />
                  </div>

                  <div class="mb-4 md:mr-2 md:mb-0 pt-2">
                    <label class="block mb-2 text-sm font-bold text-gray-700" for="email">Email</label>
                    <Field name="email" type="email" :value="currentUser.email"
                      class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <div class="py-2">
                      <ErrorMessage name="email" class="error-feedback text-red-700" />
                    </div>
                  </div>

                  <div class="mb-6 text-center">
                    <button
                      class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                      :disabled="loading">
                      <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                      Update
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </Form>
      </div>

    </div>

    <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
      {{ message }}
    </div>

  </div>
</template>

<script>

import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import useFileList from '../../compositions/file-list'
import DropZone from '../utils/DropZone';
import FilePreview from '../utils/FilePreview';

export default {
  name: 'TheProfile',

  components: {
    Form,
    Field,
    ErrorMessage,
    DropZone,
    FilePreview
  },
  data() {
    const schema = yup.object().shape({
      name: yup
        .string()
        .required("Username is required!")
        .min(3, "Must be at least 3 characters!")
        .max(20, "Must be maximum 20 characters!"),
      email: yup
        .string()
        .required("Email is required!")
        .email("Email is invalid!")
        .max(50, "Must be maximum 50 characters!"),
      fileInput: yup
        .array()
    });

    return {
      successful: false,
      loading: false,
      ifForm: false,
      message: "",
      schema,
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
    showForm() {
      this.ifForm = !this.ifForm;
    },
    updateUser(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;
      /*this.$store.dispatch("auth/update", user).then(
        (data) => {
          this.message = data.message;
          this.successful = true;
          this.loading = false;
          this.$router.push("/profile");
        },
        (error) => {
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.successful = false;
          this.loading = false;
        }
      );*/
      console.log(user);
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  },
  setup() {
    const { files, addFiles, removeFile } = useFileList();

    function onInputChange(e) {
      addFiles(e.target.files)
      e.target.value = null
    }

    return {
      files,
      addFiles,
      removeFile,
      onInputChange
    }
  }
};
</script>
