<template>
  <div class="container mx-auto pt-10">
    <h1 class="mt-12 text-6xl text-center font-bold">Uruk</h1>

    <div class="flex flex-col justify-center items-center py-10 rounded-lg shadow-2xl mt-4 md:mt-10 md:mx-32">
      <h3 class="mt-12 text-5xl font-bold text-center">Welcome on board !</h3>
      <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
        <h3 class="pt-4 text-2xl text-center">Start by adding a name to your DAO account.</h3>
        <h3 class="pt-4 text-2xl text-center">And setup your collection to have your stats.</h3>
        <Form @submit="handleRegister" :validation-schema="schema" class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
          <div v-if="!successful">
            <div class="mb-4 md:mr-2 flex flex-col">
              <div class="flex flex-col mb-4">
                <label class="pb-2 text-left text-xl" for="daoName">Name of your DAO</label>
                <Field name="daoName" type="text" placeholder=""
                  class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                <ErrorMessage name="daoName" class="error-feedback pt-2 text-red-600" />
              </div>

              <div class="flex flex-col">
                <label class="pb-2 text-left text-xl" for="projectName">Name of your project</label>
                <Field name="projectName" type="text" v-model="selectedCollection" @input="searchCollection"
                  class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                <div>
                  <div class="absolute bg-white border border-gray-300 rounded-lg">
                    <div v-for="collection in this.collectionName" :key="collection">
                      <p class="text-left py-1 px-2 hover:bg-blue-400 hover:text-white"
                        @click="addCollectionName(collection.collectionName, collection.helloMoonCollectionId)">{{ collection.collectionName }}</p>
                    </div>
                  </div>
                </div>

                <ErrorMessage name="projectName" class="error-feedback pt-2 text-red-600" />
              </div>

              <Field class="hidden" name="daoOwner" id="checkbox" value="daoOwner" />

            </div>

            <div class="mb-6 text-right">
              <button
                class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                :disabled="loading">
                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                Create account
              </button>
            </div>
          </div>
        </Form>
      </div>

      <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script>

import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import axios from 'axios';

export default {
  name: "TheRegister",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      daoName: yup
        .string()
        .required("DAO name is required")
        .min(3, "Must be at least 3 characters!")
        .max(20, "Must be maximum 20 characters!"),
      projectName: yup
        .string()
        .required('Collection Name is required')
    });

    return {
      successful: false,
      loading: false,
      message: "",
      schema,
      collectionName: [],
      selectedCollection: '',
      helloMoonCollectionId: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push("/dashboard");
    }
  },
  methods: {
    handleRegister(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;
      user.address = this.$wallet?.publicKey.value?.toBase58();
      user.helloMoonCollectionId = this.helloMoonCollectionId;
      this.$store.dispatch("auth/register", user).then(
        (data) => {
          this.message = data.message;
          this.successful = true;
          this.loading = false;
          data.roles.forEach(role => {
            if (role === "ROLE_ADMIN") { this.$router.push("/admin-dashboard") }
            if (role === "ROLE_DAOOWNER") { this.$router.push("/daoowner") }
            if (role === "ROLE_USER") { this.$router.push("/user") }
          })
        },
        (error) => {
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.successful = false;
          this.loading = false;
        }
      );
    },
    async searchCollection(event) {
      this.collectionName = [];
      const options = {
        method: 'POST',
        url: 'https://rest-api.hellomoon.io/v0/nft/collection/name',
        headers: {
          accept: 'application/json',
          'content-type': 'application/json',
          authorization: `Bearer ${process.env.VUE_APP_HELLOMOON_API_KEY}`
        },
        data: { collectionName: event.target.value }
      };
      try {
        const { data } = await axios.request(options);
        if (data.data.length >= 1) {
          data.data.forEach(nft => {
            this.collectionName.push(nft);
          })
        }
      } catch(err) {
        if(err.status === 400) console.log(err.message);
      }
    },
    addCollectionName(name, helloMoonCollectionId) {
      this.selectedCollection = name;
      this.helloMoonCollectionId = helloMoonCollectionId;
      this.collectionName = [];
    }
  },

};
</script>
<style scoped></style>
